* {
  font-family: monospace, 'Times New Roman', Times, serif;
}

.intro {
  text-align: center;
}

.player-decisions-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.decisions {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.decisions-pic-wrapper img {
  border: 4px solid black;
  border-radius: 10px;
  max-width: 200px;
  max-height: auto;
}